@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500");

* {
  font-family: "Cinzel", serif;
}

body {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

div h1.page-heading {
  color: gold;
  text-align: center;
  text-shadow: 1px 1px 5px rgb(241, 241, 28);
}

div.big-container {
  display: flex;
  justify-content: space-between;
}

div.container {
  background-color: mistyrose;
  color: black;
  margin-inline: auto;
  margin-top: 25px;
  width: 450px;
  border: 1px solid black;
  border-radius: 10px;
  padding-inline: 10px;
  height: fit-content;
  text-align: center;
}

.cart {
  width: 450px;
  background-color: mistyrose;
  color: black;
  margin-inline: auto;
  margin-top: 25px;
  border: 1px solid black;
  border-radius: 10px;
  padding-inline: 5px;
  height: fit-content;
  text-align: center;
}

div.container h1 {
  text-align: center;
  text-decoration: underline;
}

div.container h3.empty-word {
  text-align: center;
}

table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 5px;
  /* padding-inline: 10px; */
  font-size: large;
  margin-inline: auto;
}

button {
  background-color: mistyrose;
  margin: 0 5px 5px;
  font-size: large;
  transition: all 0.5s;
  border: 1px solid black;
  display: block;
}

button:hover {
  cursor: pointer;
}

button.addNew:hover {
  transition: all 0.5s;
  transform: rotate(180deg);
}

button.addNew {
  margin-top: 10px;
  margin-inline: auto;
  display: inline-block;
  border: none;
  font-size: xx-large;
}

button.delete {
  /* margin-top: 10px; */
  margin-inline: auto;
  display: inline-block;
  border: none;
  font-size: x-large;
}

button.reset,
button.buy {
  border-radius: 5px;
  padding: 3px 5px;
}

button.reset:hover,
button.buy:hover {
  background-color: black;
  color: mistyrose;
}

div.btn-cart {
  display: flex;
  justify-content: center;
  padding-block: 5px;
}

@media screen and (max-width: 1024px) {
  div.big-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  div.container {
    padding-inline: 5px;
    font-size: small;
    width: 300px;
  }
  button.reset {
    display: inline-block;
    position: relative;
    margin-inline: auto;
    top: 0;
    right: 0;
  }
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1px;
    /* padding-inline: 10px; */
    font-size: small;
    margin-inline: auto;
  }
  .cart {
    width: 300px;
  }
  button.addNew {
    margin-top: 10px;
    margin-inline: auto;
    display: inline-block;
    border: none;
    font-size: large;
  }
}
